<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Gênero
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="28" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Ação
            </label>
        </div></a></li>
        <li><a class="dropdown-item" href="#"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="12" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Aventura
            </label>
        </div></a></li>
        <li><a class="dropdown-item" href="#"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="16" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Animação
            </label>
        </div></a></li>
        <li><a class="dropdown-item" href="#"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="35" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Comédia
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="80" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Crimes
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="99" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Documentário
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="18" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Drama
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="10751" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Família
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="14" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Fantasia
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="37" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Faroeste
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="878" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Ficção Científica
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="10752" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Guerra
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="36" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                História
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="27" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Horror
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="10402" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Musical
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="9648" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Mistério
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="10749" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Romance
            </label>
        </div></a></li>
        <li><a class="dropdown-item"><div class="form-check">
            <input class="form-check-input" type="checkbox" value="53" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Suspense
            </label>
        </div></a></li>
    </ul>
</div>