{% extends 'base.html' %}


{% block body %}


<div class = "bg-image px-4 mx-5 my-0 vh-100" style="background-image: url('https://images.unsplash.com/photo-1620503374956-c942862f0372?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=100'); background-size: 100% 100%">
    <div class="container vh-100">
        <div class="row vh-100 my-0 py-5 px-0 mx-0">
            <div class="col align-self-start">
                <p class="text-dark pt-3" style="font-size:40px; font-family: Lucida Bright;">.portfólio {</p>
            </div>
            <div class="col-auto align-self-end">
                <p class="text-dark px-0 py-0 my-0 mx-0" style="font-size:40px; font-family: Lucida Bright;">bárbara_szortika}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}