{% extends 'base.html' %}

{% block body %}

<div class="main_container">
    <div class="container-fluid py-5 px-5 mx-0" style="background-color: #fcc582; font-size:14px">
        <h3>Olá!</h3>
        <h3>Bem-vindo(a) ao meu portfólio!</h3>
        <p class="my-1">Esta página traz um pouco sobre mim e sobre o que consigo fazer com minhas habilidades.</p>
        <p class="my-1">Ele foi construído com muito cuidado para que seja o ponto de partida de uma jornada emocionante rumo a experiências maravilhosas e conquistas no mundo da tecnologia, onde pretendo começar a trabalhar. </p>
    </div>
    <div class="container-fluid pt-3 mx-0">
        <div class="row">
            <div class="col-5 ps-5 ms-5" style="font-size:14px">
                <img src="https://images.unsplash.com/photo-1553374402-559e8b431161?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" height="300px" width="450px" alt="Unsplash David Kiriakidis">
            </div>
            <div class="col-6" style="font-size:14px">
                <p class="my-1">Como não tenho fluência em CSS e Javascript, e meu ponto de partida é o Python, utilizei Flask e Bootstrap para me auxiliarem no projeto.</p>
                <p class="my-1">Todo o código pode ser visto no <a class="link-dark" href="https://github.com/barbara-sz">meu GitHub</a>.</p>
                <p class="my-1">Apesar de não estar listado junto com os outros projetos, considero este site um deles, pois foi realmente um desafio.</p>
                <p class="my-1">É algo completamente novo e que foi muito divertido de projetar e desenvolver.</p>
                <p class="my-1">Apesar de o meu foco ser a parte de dados e back-end, aprendi muito também sobre front-end, já que o site demandou bastante neste quesito</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
