{% extends 'base.html' %}

{% block body %}

<div class="main_container">
    <div class="row">
        <div class="col-9 pt-5 ps-3 ms-5 pe-2" style="font-size:14px">
            <h3>Sobre Mim</h3>
            <p class="my-1">Sou uma engenheira química apaixonada por tecnologia e desafios.</p>
            <p class="my-1">Iniciei minha trajetória profissional estagiando na área ambiental por causa da minha
                formação, mas foi como analista de dados/BI ainda em 2019 que descobri minha vontade e vocação para
                trabalhar na área.</p>
            <p class="my-1">Em 2022 comecei a procurar cursos na área de programação e análise de dados, mas ainda sem
                iniciar nenhum projeto, já que estava terminando meu MBA.
                Em 2023 que realmente ingressei na área de desenvolvimento, estudando a fundo SQL e Python e suas
                ferramentas. A partir de então venho me desenvolvendo muito rápido, já que estudar estes assuntos é um
                hobby para mim.</p>
            <p class="my-1">É muito satisfatório ver que algo que eu gosto tanto pode ser tão útil e que minha carreira
                pode ser montada em cima disso.</p>
            <p class="my-1">Apesar de ser uma pessoa extrovertida e comunicativa, meu perfil é muito analítico, que vai
                muito de encontro com a sistemática de um desenvolvedor e analista de dados, já que mínimos detalhes
                podem fazer toda a diferença.</p>
        </div>
        <div class="col-2 pt-5 text-center">
            <img src="static/foto.jpg" class=" my-0 py-0 mx-0 px-0" height="200px" width="200px" alt="Foto">
        </div>
    </div>
    <div class="container-fluid text-center mt-3 pt-3 pb-3 mx-0" style="background-color: #20B2AA">
        <div class="row">
            <div class="col text-start ps-5 ms-5">
                <h5>.python {</h5>
                <p class="my-1">selenium, flask</p>
                <p class="my-1">pandas, POO<span style="font-size: 20px; font-weight: 500;">}</span></p>
            </div>
            <div class="col text-start ms-5">
                <h5>.sql {</h5>
                <p class="my-1">mysql, sql_server,</p>
                <p class="my-1">postgresql<span style="font-size: 20px; font-weight: 500;">}</span></p>
            </div>
            <div class="col text-start ms-5">
                <h5>.dados {</h5>
                <p class="my-1">powerbi,</p>
                <p class="my-1">excel<span style="font-size: 20px; font-weight: 500;">}</span></p>
            </div>
            <div class="col text-start ms-5">
                <h5>.rest_api</h5>
                <h5>.bi</h5>
                <h5>.bootstrap</h5>
            </div>
        </div>
    </div>
    <div class="container text-center my-4 pb-4">
        <div class="row">
            <div class="col">
                <img src="static/mail.svg" height="30px" width="30px">
                <h5>b.szortika@gmail.com</h5>
            </div>
            <div class="col">
                <img src="static/github.svg" height="30px" width="30px">
                <h5><a target="_blank" rel="noopener" href="https://github.com/barbara-sz"
                       class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">GitHub</a>
                </h5>
            </div>
            <div class="col">
                <img src="static/linkedin.svg" height="30px" width="30px">
                <h5><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/barbara-szortika/"
                       class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Linkedin</a>
                </h5>
            </div>
            <div class="col">
                <img src="static/download.svg" height="30px" width="30px">
                <h5><a target="_blank" rel="noopener"
                       href="https://acrobat.adobe.com/link/review?uri=urn:aaid:scds:US:43584233-0236-4e94-8d6b-c8014af1cd20"
                       class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">CV</a>
                </h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}